 <footer class="blog-footer">
     <p>Build <a href="https://getbootstrap.com/"></a> by <a href="https://twitter.com/semperfiarsenal">Semper</a>.
     </p>
     <p>
         <a href="#">Back to top</a>
     </p>
 </footer>