<%- include('../partials/admin/admin-header') -%>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <%- include('../partials/admin/admin-topNav') -%>


    <div class="content-wrapper">

        <!-- {{> admin/messages}} -->


        <!-- {{{body}}} -->

        <%- include('../partials/admin/admin-footer') -%>
    </div>
</body>

</html>